<app-navigation></app-navigation>
<div class="container">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary mt-3" (click)="show()" *ngIf="!showAdd">Add new product</button>
    </div>
  </div>
  <form class="form-horizontal shadow p-3 mb-5 bg-white rounded " #f="ngForm"
        (ngSubmit)="f.form.valid && addProd(desc,quan,price,prodname,image, category, brand, color)"
        *ngIf="showAdd">
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label class="col-md-3">Product Name</label>
          <input type="text" class="form-control col-md-9" placeholder="Product Name" #prodname
                 ngModel name="prodname">
        </div>
        <div class="form-group row">
          <label class="col-md-3">Category</label>
          <select class="form-control col-md-9" id="category" name="category" ngModel name="category" #category
                  (change)="onChangeCate(category)">
            <option *ngFor="let opt of categoryList" [value]="opt.id">{{opt.name}}</option>
          </select>
        </div>
        <div class="form-group row">
          <label class="col-md-3">Price</label>
          <input type="text" class="form-control col-md-9" placeholder="Price" name="price" #price
                 ngModel>
        </div>
        <div class="form-group row">
          <label class="col-md-3">Brand</label>
          <select class="form-control col-md-9" id="brand" name="brand" ngModel name="brand" #brand>
            <option *ngFor="let opt of brandList" [value]="opt.id">{{opt.name}}</option>
          </select>
        </div>
        <div class="form-group row">
          <label class="col-md-3">Color</label>
          <input type="text" class="form-control col-md-9" placeholder="Color" name="color" #color
                 ngModel>
        </div>
        <div class="form-group row">
          <label class="col-md-3">Description</label>
          <textarea type="text" class="form-control col-md-9" placeholder="Description" name="desc"
                    #desc ngModel rows="5"></textarea>
        </div>
        <div class="form-group row">
          <label class="col-md-3">Quantity</label>
          <input type="text" class="form-control col-md-9" placeholder="Quantity" name="quan" #quan
                 ngModel>
        </div>
        <div class="form-group row">
          <label class="col-md-3">Picture</label>
          <input type="file" class="form-control col-md-9" placeholder="Product Picture" #image
                 accept="image/*" name="image"
                 (change)="handleFileInput($event.target.files)">
        </div>
      </div>
      <div class="col-6">
        <h4 class="text-center">Image preview</h4>
        <img [src]="imageUrl" style="width:400px;height: 300px;">

      </div>

    </div>
    <div class="row">
      <div class="col-6">
        <input type="submit" class=" btn btn-primary" value="Save">
        <button class="mybtn btn btn-secondary ml-3" (click)="hide()" *ngIf="showAdd">Cancel</button>
      </div>
    </div>
  </form>
  <hr>
  <div class="row">
    <div class="col-3 align-left" *ngFor="let product of products">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <img src="data:image/png;base64,{{product.image}}" class="img-responsive"
               height="150px" width="200px" alt="Image">
          <p class="card-text"> {{product.description}}</p>
          <input type="hidden" value={{product.id}} #prdid>
          <div class="row">
            <div class="col-6">
              <button class="btn btn-secondary" (click)="edit(prdid)">Edit</button>
            </div>
            <div class="col-6">
              <button class="btn btn-danger"
                      (click)="delProd(prdid)">Remove
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
