<app-navigation></app-navigation>
<div class="container">
  <br>
  <a routerLink="/home/cart" class="btn btn-primary"><i class="fa fa-angle-left"></i> Cart</a>
  <br>
  <section class="section-content padding-y bg mt-3">

    <div class="row">
      <main class="col-md-8">

        <article class="card mb-4">
          <div class="card-body">
            <h4 class="card-title mb-4">Review cart</h4>
            <div class="row">
              <div *ngFor="let cart of cartList" class="col-md-6">
                <figure class="itemside  mb-4">
                  <p>{{cart.product.name}}</p>
                  <div class="aside"><img style="width: 100px; height: 100px" src="data:image/png;base64,{{cart.product.image}}" class="border img-sm"></div>
                  <figcaption class="info">
                    <span class="text-muted">{{cart.quantity}} x {{cart.price | currency:'USD'}}
                      = {{cart.quantity * cart.price | currency:'USD'}} </span>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </article>

        <article class="card mb-4" id="accordion_pay">
          <div class="card-body">
            <h4 class="card-title mb-4">Payment options</h4>
            <div class="card">
              <header class="card-header">
                <label class="form-check" data-toggle="collapse" data-target="#pay_card">
                  <input class="form-check-input" name="payment-option" type="radio" value="option1" checked>
                  <h6 class="form-check-label"> Cash </h6>
                </label>
              </header>
            </div>
          </div>
        </article>

        <article class="card mb-4">
          <div class="card-body">
            <h4 class="card-title mb-4">Contact info</h4>
            <form action="">
              <div class="row">
                <div class="form-group col-sm-6">
                  <label>Frst name</label>
                  <input type="text" placeholder="Type here" class="form-control">
                </div>
                <div class="form-group col-sm-6">
                  <label>Last name</label>
                  <input type="text" placeholder="Type here" class="form-control">
                </div>
                <div class="form-group col-sm-6">
                  <label>Phone</label>
                  <input type="text" value="+998" class="form-control">
                </div>
                <div class="form-group col-sm-6">
                  <label>Email</label>
                  <input type="email" placeholder="example@gmail.com" class="form-control">
                </div>
              </div>
            </form>
          </div>
        </article>


        <article class="card mb-4">
          <div class="card-body">
            <h4 class="card-title mb-4">Delivery info</h4>
            <form action="">
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="js-check box active">
                    <input type="radio" name="dostavka" value="option1" checked="">
                    <h6 class="title">Delivery</h6>
                    <p class="text-muted">We will deliver by DHL Kargo</p>
                  </label>
                </div>
                <div class="form-group col-sm-6">
                  <label class="js-check box">
                    <input type="radio" name="dostavka" value="option1">
                    <h6 class="title">Pick-up</h6>
                    <p class="text-muted">Come to our office to somewhere </p>
                  </label>
                </div>
              </div>


              <div class="row">
                <div class="form-group col-sm-6">
                  <label>City*</label>
                  <select name="" class="form-control">
                    <option value="">Tashkent</option>
                    <option value="">Buxoro</option>
                    <option value="">Samarqand</option>
                  </select>
                </div>
                <div class="form-group col-sm-6">
                  <label>Area*</label>
                  <input type="text" placeholder="Type here" class="form-control">
                </div>
                <div class="form-group col-sm-8">
                  <label>Street*</label>
                  <input type="text" placeholder="Type here" class="form-control">
                </div>
                <div class="form-group col-sm-4">
                  <label>Building</label>
                  <input type="text" placeholder="" class="form-control">
                </div>
                <div class="form-group col-sm-4">
                  <label>House</label>
                  <input type="text" placeholder="Type here" class="form-control">
                </div>
                <div class="form-group col-sm-4">
                  <label>Postal code</label>
                  <input type="text" placeholder="" class="form-control">
                </div>
                <div class="form-group col-sm-4">
                  <label>Zip</label>
                  <input type="text" placeholder="" class="form-control">
                </div>
              </div>
            </form>
          </div>
        </article>


      </main>
      <aside class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <h4 class="mb-3">Overview</h4>
            <dl class="dlist-align">
              <dt class="text-muted">Delivery:</dt>
              <dd>Pick-up</dd>
            </dl>
            <dl class="dlist-align">
              <dt class="text-muted">Delivery type:</dt>
              <dd>Standard</dd>
            </dl>
            <dl class="dlist-align">
              <dt class="text-muted">Payment method:</dt>
              <dd>Cash</dd>
            </dl>
            <hr>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="h5">{{totalSum | currency:'USD'}}</dd>
            </dl>
            <hr>
            <p class="small mb-3 text-muted">By clicking you are agree with terms of condition </p>
            <div>
              <button type="button" class="btn btn-primary btn-block" (click)="placeOrder()">Place</button>
            </div>
          </div>
        </div>
      </aside>
    </div>


  </section>


</div>
